@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:14px;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,input, textarea, select, button{font-size:14px;line-height:20px;font-family: serif;}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

.wrap{padding:50px 25px;max-width:1000px;margin: 0 auto;}
.tl{text-align: left}
.wrap.q1_wrap>div{border-top:1px solid #000;}
h1,.center{text-align:center}
h1{font-size:30px;margin-bottom: 30px;line-height:40px;}
.wrap h3{font-size:25px;margin-bottom:15px;line-height: 30px}
.wrap table{
    background-color: #eee;
    width:100%;
}
.wrap table th{font-weight:bold;padding: 10px 15px!important;text-align: left;vertical-align: middle;}
.wrap table td{padding:10px 15px!important}
.wrap table td span input, input[id^="phone_"]{width:60px;}
.wrap table td span input[type="radio"]{width:auto;}
textarea{width:100%;resize:none;padding: 10px;height: 120px;box-sizing: border-box;}

.wrap.q2_wrap button{margin-top:30px;}
.uppercase{text-transform: uppercase;}
.wrap.q2_wrap ul{margin-bottom:20px;margin-top:10px;}
.wrap.q2_wrap ul li{
    list-style-type: disc;
}
.wrap.q3_wrap>ul{margin-bottom:10px;}
.wrap.q3_wrap>ul li, .wrap.q3_wrap table a {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
    border-left: 1px solid #000;
}
.wrap.q3_wrap>ul li, .wrap.q3_wrap table a{padding-right:5px}
.wrap.q3_wrap>ul li:first-child,.wrap.q3_wrap table a:first-child{padding-left:0;border-left:0;}
.wrap.q3_wrap table a:first-child,.wrap .edit_wrap input[type="submit"]{padding-right:5px;border-right:1px solid #000;margin-right:5px;}
.wrap.q3_wrap table td{background:#fff;}
.wrap.q3_wrap table td form{display: inline-block;}
.wrap button,.wrap input[type="submit"] {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    color: blue;text-transform: capitalize;outline:none;
}

.wrap .login_wrap input[type="submit"] {border:1px solid #333;color:#333;text-decoration: none;background:#eee;padding:10px;}